h1 Explore!
#media
  each media in medias
    - if (media.location)
      span #{JSON.stringify(media.location)}
      a(href='/location/#{media.location.latitude}/#{media.location.longitude}')
        img(src='#{media.images.low_resolution.url}')
