extends layout
block content
	div.wrap
		div.button
			div.left
				div.red
				div.orange
				div.green
				div.blue
			div.right
				a(href="/authorize") Sign in with Instagram
	div.footer
		p
			a(href="http://dribbble.com/shots/539615-Instagram-CSS-Button") Login button credit