doctype 5
html
  head
    title= title
    script(src="/javascripts/jquery.js")
    script(src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js")
    script(type="text/javascript", src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css")
  body
    block content