extends layout
block content
  h1 Location: #{location.name}
  #media
    each media in medias
      img(src='#{media.images.low_resolution.url}')

  script
    var medias = io.connect('#{host}/#{location.id}')
    function strdecode( data ) {
      return JSON.parse( decodeURIComponent( escape ( data ) ) );
    }
    medias.on('data', function(data) {
      
      data = strdecode(data);
      data.forEach(function(media) {
        $('#media').prepend('<img src="' + media.images.low_resolution.url + '" />');
      });
    });
