extends layout

block content
  #posts

  script
    var socket = io.connect('http://localhost:3000/#{client_id}');
    socket.on('popular', function(data) {
      console.log('data! ' + posts.length);
      _.each(data.posts, function(post) {
        $('#posts').prepend('<img src="' + post.images.thumbnail.url + '"/>');
      });
    });
